body {
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url('Image/airplane2.jpg');
    background-size: cover;
    background-position: center;
    height: 588px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

/* Section padding */
.pb-5, .py-5, .pt-5, .py-5 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

/* Margin-bottom h2 */
.h2, h2 {
    margin-bottom: 16px;
}

.feature-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.feature-row {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.col-md-5 {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.carousel-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
    transform: scale(1.1); /* Slightly scale up on hover */
}

/* Carousel previous next button size */
.p-3 {
    padding: 18px;
}

/* Carousel previous next button position */
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

blockquote {
    border-left: 5px solid #ccc;
    padding-left: 15px;
    margin: 20px 0;
}

.testimonial-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.social-icon {
    width: 40px; /* Set the width of the social icons */
    height: 40px; /* Set the height of the social icons */
    margin-right: 10px; /* Add some space between icons */
    vertical-align: middle; /* Align icons vertically with text */
}

.pb-4, .py-4, .pt-4, .py-4 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.mt-3, .my-3 {
    margin-top: 40px !important;
}